# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints/

# Virtual Environment
venv/
env/

# Jupyter Notebook
*.ipynb_checkpoints/

# OS-specific
.DS_Store
Thumbs.db

# Logs
*.log

# Data
*.csv
*.xlsx
*.json
*.parquet
*.h5
*.db
*.sqlite

# Model files
*.pkl
*.joblib
*.h5